.el-dialog__body{
  width: 35%;
  height: 80%;
  padding: 15px;
}

.el-dialog__footer{
  text-align: center;
  align-items: center;
}

.el-dialog__header{
  font-weight: bold;
  font-size: 25px;
}

.el-dialog__title{
  font-weight: bold;
  font-size: 25px;
}