.SearchBox{
  display: flex;
  flex-direction: row;
  text-align: center;
  position: center;

  background-color: #b5bdc8;
  opacity: 95%;
  width: 48%;
  min-width: 1000px;
  padding: 3px 3px 12px 8px;
  margin: 0 auto;

  border: #b5bdc8;
  border-radius: 6px;

  .Inputs{
    width: 75%;
    margin: 0.1%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .InputPackage{
      width:12%;
      min-width: 96px;
      margin: 10px;
      background-color:lightsalmon;
      text-align: center;
      align-items: center;
      border-radius: 6px;
      border-color: lightsalmon;
      padding: 2px;

      label{
        margin: 0 auto;
        float: left;
        text-align: center;
        font-weight: bold;
        padding-left: 3px;
      }

      .Input{
        float: right;
      }

    }

  }

  .Search{
    border: 10px black;
    width: 22%;

    float: right;
    margin: 40px 0.1% 0.1%;

    button{
      align-items: center;
      margin: 10%;
      width: 80%;
      height: 45px;
      font-weight: bold;
    }

  }

}
